.error {
    color:red;
    font-size: small;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
  
.table-head {
    border: 1px solid black;
    background-color: beige;
    padding: 10px;
    text-align: left;
}

.table-body {
    border: 1px solid beige;
    padding: 10px;
    text-align: left;
}
  
.form-container {
    margin-bottom: 20px;
}
  